# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.idea
.vscode/
*.swp


# Distribution / packaging
dist/
build/
*.egg-info/
scr.egg-info/

# pytest
.pytest_cache/
.coverage

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

data
.python-version
data/
*.log
*.sqlite
.DS_Store
Thumbs.db